
<div class="row" >
  <form>
    <div class="col-md-12" *ngFor="let ingType of ingTypeList">
      <h1 class="ingType">{{ingType.name}}</h1>
      <div class="row col-md-12">
        <div *ngFor="let ingredient of ingList[ingType.name]" class="col-md-3" >      
          <input type="checkbox" (click)="clickOwnIngredient($event,ingredient.name,ingredient.price)" />{{ingredient.name}}
        </div>
      </div>
    </div>
  </form>
</div>

<add-item [menuIngPriceList]="menuIngPriceList" *ngIf="ownIngList?.length > 0"></add-item>