
<div class="row">
  <div class="col-sm-12">
    <carousel >
      <slide *ngFor="let image of images">
        <img src="{{image.url}}" alt="First slide">
        <div class="carousel-caption">
          <h3>{{image.title}}</h3>
         
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 top20">
    <P class="light-green-para">
        Welcome to the fresh food world. Our main target is fresh, fresh ...... and fresh.
    </P>

    <P class="">
      We love to serve you food that will give you homemade taste. Sometime we don't have mood to 
      cook, for their we are ready to deliver your own chosable food in your door. The unique style 
      is we give you option to choose your own ingredient whatever you like. Its like you are in heaven 
      and wish to eat some yummy items, we will be there with your favourite one. 
    </P>

  </div>
</div>

    

